# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/cypress/videos

# Stitch mockups & local scratch
/detalle_de_somatotipo
/detalle_de_somatotipo_desktop
/formulario_de_somatotipo
/formulario_de_somatotipo_desktop
/somatotype_vitality_system
/tasks
screen.png
